body{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    left: 50%;
}
h1{
    color:blue;
    left: 50%;
    top: 50%;
    justify-self: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: xx-large;
}

.size{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:larger;
    background-color: antiquewhite;
    justify-self: center;
}

.reset{
    background-color: darkseagreen;
    justify-self: center;
    margin: auto;
}

.container{
    display: flex;
    background-color: rgb(6, 153, 153);
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    margin: auto;
    
}
.row{
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 0px;
    padding: 0%;
    margin: 0%;
    
}

.col{
    width: 12px;
    height: 13px;
    background-color:white;
    border: 0px solid white;
}

div{
    background-color: white;
    border: 1px solid black;
    
    padding: 4px;
    
}